<div class="row">
  <div class="col-12">
    <img src="https://i.pinimg.com/736x/ac/47/74/ac4774e5413e5cb02cc018f26a3b476a--ice-cream-parlor-ice-cream-cones.jpg" alt="Icecream Image">
  </div>
</div>
<div class="row">
    <div class="col-12 header">
      <button class="home"><i class="bi bi-house-door"></i></button>
      <button class="Strawberry">StrawBerry</button>
      <button class="ButterScotch">ButterScotch</button>
      <button class="Vanilla">Vanilla</button>
      <button class="Pista">Pista</button>
      <button class="chocolate">Chocolate</button>
      <button class="BuleBerry">BuleBerry</button>
      <button class="BlackBerry">BlackBerry</button>
      <button class="Banana">Banana</button>
      <button class="PineApple">PineApple</button>
      <button class="RaspBerry">RaspBerry</button>
      <button class="Coffe">Coffe</button>
    </div>
  </div>