.header{
    border: outset black 2px;
    padding: 30px;
    background-color: rgb(17, 10, 57);
}
.home{
    border: hidden;
    color: white;
    background-color: rgb(17, 10, 57);
}
.Strawberry{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.ButterScotch{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Vanilla{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Pista{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.chocolate{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.BuleBerry{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.BlackBerry{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Banana{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.PineApple{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.RaspBerry{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Coffe{
    margin-left: 15px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
button:hover{
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.201);
}
img{
    width: 1300px;
    height: 100px;
}