.lefnav{
    border: outset black 2px;
}
.menuIcon{
    margin-left: 20px;
}
.navStrawberry{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navButterScotch{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navVanilla{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navPista{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navchocolate{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navBuleBerry{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navBlackBerry{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navBanana{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navPineApple{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navRaspBerry{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navCoffe{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.mainContiner{
    border: outset black 2px;
    padding-bottom: 200px;
  
}
.fieldSpace{
    margin-top: 30px;
}
.IcecreamMenu{
    margin-top: 120px;
}
.displaymenu{
    height: fit-content;
    width: fit-content;
    border: solid black 2px;
    margin-left: 30px;
}
button:hover{
    background-color: rgba(128, 128, 128);
}