.header{
    border: outset black 2px;
    padding: 30px;
    background-color: rgb(17, 10, 57);
}
.Strawberry{
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.ButterScotch{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Vanilla{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Pista{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.chocolate{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.BuleBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.BlackBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Banana{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.PineApple{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.RaspBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.Coffe{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 10, 57);
}
.lefnav{
    border: outset black 2px;
}
.navStrawberry{
    margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navButterScotch{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navVanilla{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navPista{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navchocolate{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navBuleBerry{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navBlackBerry{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navBanana{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
   font-family: 'Courier New', Courier, monospace;
}
.navPineApple{
    margin-top: 10px;
   margin-left: 20px;
   border: hidden;
   background-color: white;
   font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}
.navRaspBerry{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.navCoffe{
    margin-top: 10px;
    margin-left: 20px;
    border: hidden;
    background-color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.mainContiner{
    border: outset black 2px;
}

.footerbar{
    border: outset black 2px;
    padding: 25px;
}
button:hover{
    border-radius: 15px;
    background-color: gray;
}