<router-outlet></router-outlet>
<div class="row">
  <div class="col-12 header">
    <button class="home"><i class="bi bi-house-door"></i></button>
    <button class="Strawberry">StrawBerry</button>
    <button class="ButterScotch">ButterScotch</button>
    <button class="Vanilla">Vanilla</button>
    <button class="Pista">Pista</button>
    <button class="chocolate">Chocolate</button>
    <button class="BuleBerry">BuleBerry</button>
    <button class="BlackBerry">BlackBerry</button>
    <button class="Banana">Banana</button>
    <button class="PineApple">PineApple</button>
    <button class="RaspBerry">RaspBerry</button>
    <button class="Coffe">Coffe</button>
  </div>
</div>
<div class="row">
  <div class="col-2 lefnav">
    <div class="menuIcon"><button class="btn btn-primary"><i class="bi bi-list"></i>Menu bar</button></div>
    <div><button class="navStrawberry">Strawberry</button></div>
    <div><button class="navButterScotch">ButterScotch</button></div>
    <div><button class="navVanilla">Vanilla</button></div>
    <div><button class="navPista">Pista</button></div>
    <div><button class="navchocolate">Chocolate</button></div>
    <div><button class="navBuleBerry">BuleBerry</button></div>
    <div><button class="navBlackBerry">BlackBerry</button></div>
    <div><button class="navBanana">Banana</button></div>
    <div><button class="navPineApple">PineApple</button></div>
    <div><button class="navRaspBerry">RaspBerry</button></div>
    <div><button class="navCoffe">Coffe</button></div>
  </div>
  <div class="col-10 mainContiner">
    <router-outlet></router-outlet>
    <div class="row">
      <div class="fieldSpace row">
        <div class="col-3"><label for="Icecream">Enter Item Name In Field Box</label></div>
        <div class="col-3"><input type="text" id="Icecream"></div>
        <div class="col-3"><button class="btn btn-primary">Click Me</button></div>
        <div class="col-3"><span><u>display name Heare</u></span></div>
      </div>
    </div>
    <div class="row">
      <div class="row IcecreamMenu">
     
        <div class="col-3"><input type="text" id="Icecream" placeholder="Enter Icecream Menu Here"></div>
        <div class="col-3"><button class="btn btn-primary">Add Menu</button></div>
        <div class="col-3 displaymenu"><span>display Menu Heare</span></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 footerbar">
    <button class="footerStrawberry">Strawberry</button>
    <button class="footerButterScotch">ButterScotch</button>
    <button class="footerVanilla">Vanilla</button>
    <button class="footerPista">Pista</button>
    <button class="footerchocolate">Chocolate</button>
    <button class="footerBuleBerry">BuleBerry</button>
    <button class="footerBlackBerry">BlackBerry</button>
    <button class="footerBanana">Banana</button>
    <button class="footerPineApple">PineApple</button>
    <button class="footerRaspBerry">RaspBerry</button>
    <button class="footerCoffe">Coffe</button>
  </div>
</div>