<router-outlet></router-outlet>
<div class="row">
  <div class="col-12 header">
    <button class="Strawberry">StrawBerry</button>
    <button class="ButterScotch">ButterScotch</button>
    <button class="Vanilla">Vanilla</button>
    <button class="Pista">Pista</button>
    <button class="chocolate">chocolate</button>
    <button class="BuleBerry">BuleBerry</button>
    <button class="BlackBerry">BlackBerry</button>
    <button class="Banana">Banana</button>
    <button class="PineApple">PineApple</button>
    <button class="RaspBerry">RaspBerry</button>
    <button class="Coffe">Coffe</button>
  </div>
</div>
<div class="row">
  <div class="col-2 lefnav">
    <div><button class="navStrawberry">Strawberry</button></div>
    <div> <button class="navButterScotch">ButterScotch</button></div>
    <div><button class="navVanilla">Vanilla</button></div>
    <div><button class="navPista">Pista</button></div>
    <div><button class="navchocolate">chocolate</button></div>
    <div> <button class="navBuleBerry">BuleBerry</button></div>
    <div> <button class="navBlackBerry">BlackBerry</button></div>
    <div><button class="navBanana">Banana</button></div>
    <div><button class="navPineApple">PineApple</button></div>
    <div><button class="navRaspBerry">RaspBerry</button></div>
    <div><button class="navCoffe">Coffe</button></div>
  </div>
  <div class="col-10 mainContiner"></div>
</div>
<div class="row">
  <div class="col-12 footerbar"></div>
</div>