
.footerbar{
    border: outset black 2px;
    padding: 25px;
    background-color: grey;
}
button:hover{
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.201);
}
.footerStrawberry{
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerButterScotch{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerVanilla{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerPista{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerchocolate{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerBuleBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerBlackBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerBanana{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerPineApple{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerRaspBerry{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}
.footerCoffe{
    margin-left: 20px;
    border: hidden;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
}