<div class="row">
    <div class="col-12 footerbar">
      <button class="footerStrawberry">Strawberry</button>
      <button class="footerButterScotch">ButterScotch</button>
      <button class="footerVanilla">Vanilla</button>
      <button class="footerPista">Pista</button>
      <button class="footerchocolate">Chocolate</button>
      <button class="footerBuleBerry">BuleBerry</button>
      <button class="footerBlackBerry">BlackBerry</button>
      <button class="footerBanana">Banana</button>
      <button class="footerPineApple">PineApple</button>
      <button class="footerRaspBerry">RaspBerry</button>
      <button class="footerCoffe">Coffe</button>
    </div>
  </div>
